* {
    box-sizing: border-box;
}

@media only screen {
    body {
        background-color: #efefef;
        margin: 0px 0px 0px 0px;
    }
}

header {
    vertical-align: middle;
    position: relative;
    padding: 4em 3.5em;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(#16a085, #f4d03f);
}

#profile_pic {
    max-width: 80px;
    text-align: center;
    height: 80px;
    margin: 0px auto;
    background-image: url("Images/pic.jpg");
    border-radius: 80px;
    background-size: cover;
}

#inner {
    vertical-align: middle;
    padding: 5vh 0vw;
    margin: 0px auto;
    position: relative;
    z-index: 2;
    height: 100%;
    word-wrap: break-word;
}

.site-title {
    margin: 0.5em 0 0;
    font-size: 53.3px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
}

.site-description {
    margin: 0.5em 0 0;
    font-size: 16.9px;
    font-style: normal;
    font-weight: 400;
    font-family: "Alegreya Sans", sans-serif;
    color: #ffffff;
    text-align: center;
}

#nav {
    width: 100%;
    margin: 0 auto;
    border: 0.5px solid #000000;
    border-radius: 0.75vw;
    background-color: #fff;
}

#nav ul {
    text-align: center;
    width: 100%;
}

#nav li {
    white-space: nowrap;
    font-size: 1.4rem;
    text-align: center;
    height: 5em;
    display: inline;
    margin: 0 0.25em 0 0.25em;
    font-family: "Cuprum", sans-serif !important;
    color: #4a4a46;
}

li a:link {
    text-decoration: none;
    color: #4a4a46;
}

li a:active,
li a:visited {
    text-decoration: none;
    color: #4a4a46;
}

#content-wrapper {
    width: 95%;
    padding: 3.5em 1.75em 3.5em;
    margin: 0 auto;
}

.leftcolumn {
    font-size: 1.5vw;
    float: left;
    width: 69%;
    border-radius: 0.75vw;
    background-color: white;
    padding: 20px;
    margin: 20px 20px 0px 20px;
}


/* Right column */

.rightcolumn {
    font-family: sans-serif;
    width: 26%;
    font-size: 1vw;
    float: left;
    background-color: white;
    border-radius: 0.75vw;
    padding: 20px;
    margin: 20px auto;
}

.rightcolumn ul {
    list-style-type: none;
}

.card {
    clear: left;
    width: 100%;
    margin: 40px auto 40px;
}

.titles {
    text-align: center;
    font-size: 2vw;
    font-family: "Cuprum", sans-serif !important;
    color: #4a4a46;
}

.leftcolumn>ul {
    clear: both;
    list-style-type: none;
}

.leftcolumn>ul>li>p {
    padding: 2em;
    border-radius: 0.75vw;
    border: 0.2em solid #2882c7;
}

.IMG {
    text-align: center;
    margin: 10vh auto 10vh;
    float: left;
}

.IMG img {
    max-width: 100%;
    height: auto;
}

.code {
    margin: 10vh auto;
}

@media screen and (min-width: 1500px) {
    #content-wrapper {
        width: 75%;
    }
}

@media screen and (max-width: 960px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        float: left;
        padding: 20px;
        margin: 20px 20px 0px 0px;
        background-color: white;
        border-radius: 0.75vw;
    }
    .IMG {
        width: 50%;
    }
    .leftcolumn,
    .rightcolumn,
    #nav li {
        width: 95%;
        margin: 20px 0px 0px 0px;
        font-size: 1.25em;
    }
    #content-wrapper {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    .titles {
        font-size: 1.6em;
    }
}